@font-face {
  font-family: 'SVN-Circular Book';
  src: url('../fonts/SVN-Circular/SVN-CircularBook.woff2') format('woff2'),
  url('../fonts/SVN-Circular/SVN-CircularBook.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SVN-Circular Book';
  src: url('../fonts/SVN-Circular/SVN-CircularBookItalic.woff2') format('woff2'),
  url('../fonts/SVN-Circular/SVN-CircularBookItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'SVN-Circular';
  src: url('../fonts/SVN-Circular/SVN-CircularBlackItalic.woff2') format('woff2'),
  url('../fonts/SVN-Circular/SVN-CircularBlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'SVN-Circular';
  src: url('../fonts/SVN-Circular/SVN-CircularBold.woff2') format('woff2'),
  url('../fonts/SVN-Circular/SVN-CircularBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SVN-Circular';
  src: url('../fonts/SVN-Circular/SVN-CircularBoldItalic.woff2') format('woff2'),
  url('../fonts/SVN-Circular/SVN-CircularBoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'SVN-Circular';
  src: url('../fonts/SVN-Circular/SVN-CircularMediumItalic.woff2') format('woff2'),
  url('../fonts/SVN-Circular/SVN-CircularMediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'SVN-Circular';
  src: url('../fonts/SVN-Circular/SVN-CircularMedium.woff2') format('woff2'),
  url('../fonts/SVN-Circular/SVN-CircularMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SVN-Circular';
  src: url('../fonts/SVN-Circular/SVN-CircularBlack.woff2') format('woff2'),
  url('../fonts/SVN-Circular/SVN-CircularBlack.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

